/**
  |============================
  | Newsletter in footer
  |============================
*/
.newsletter {
  display: block;
}
.newsletter__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--hero-txt-cl);

  margin-bottom: 20px;
}
.newsletter__label {
  display: inline-block;
  margin-right: 12px;
}
.newsletter__input {
  width: 358px;
  height: 50px;
  padding: 15px;

  background-color: var(--main-bg-cl);
  color: var(--hero-txt-cl);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  box-sizing: border-box;
}
.newsletter__btn {
  min-width: 200px;
  height: 50px;
  padding: 10px 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--hero-txt-cl);

  border: none;
  cursor: pointer;

  background-color: var(--accent-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  display: inline-flex;
  align-items: center;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
.newsletter__icon {
  margin-left: 10px;
}
